<div class="card articleInfo">
  <img [src]="urlImg" [alt]="textAltImg"> <!-- expressions TS -->
  <div class="card-body">
    <h5 class="card-title"> {{titreArticle}} </h5>
    <!-- Le texte sera une donné stockée dans une variable du ts du component -->
    <h6 class="card-title">{{ prixArticle }} €</h6>
    <p class="card-text">Description</p>

    <button class="btn btn-primary" (click)="onLike()">J'aime</button>
    <p>Nombre de like : {{totalNbrLike}}</p>

    <!-- ngModel assure la liaison bidirectionnelle car la
    variable comment insérée dans l'input sera envoyée vers
    le TS puis reportée dans le HTML -->
    <input type="text" placeholder="Écris ton commentaire" [(ngModel)]="comment">
    <p>COMMENTAIRE : {{comment}}</p>
  </div>
</div>